.container-profile {
    display: grid;
    box-sizing: border-box;
    justify-items: center;
    padding: 30px;
    height: 1080px;
    width: auto;
    padding-top: 50px;;
}

.content-profile {
    justify-items: center;
    align-items: center;
    height: 500px;
  }

.page {
    background-color: #579BB1;;
}

.card-profile {
    border-radius: 30px !important;
    width: 800px;
    height: 400px;
    background-color: #F8F4EA;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 220px auto;

}

.card-right {
    border-radius: 30px !important;
    background-color: aliceblue;
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 1fr 1fr;

}

.card-right-top {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.card-right-bottom {
    display: grid;
    box-sizing: border-box;


}

.card-left {
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.card-left img {
    width: 180px;
    height: auto;
}

.card-profile-pic {
    align-items: center;
    justify-content: center;
    align-content: center;
}
